.footer {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.logoutButton {
  font-size: 0.75rem;
  background-color: #5865F2;
  text-transform: uppercase;
  box-sizing: border-box;
}

.logoutButton:hover {
  opacity: 0.8;
}

.copyright {
  color: var(--color-6);
}
