.container {
    max-width: 1480px;
    padding: 0 40px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container main {
    flex-grow: 1;
}

.homeMain {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}