.container {
  flex-grow: 1;
  max-width: 1030px;
  margin-top: 20vh;
}

.linkCreatorForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.inputContainer {
  flex-grow: 1;
  position: relative;
}
.inputContainer > input {
  width: 100%;
  box-sizing: border-box;
}

.linkNameInputContainer {
  display: flex;
  flex-shrink: 1;
  align-items: center;
}

.linkNameInputContainer > input {
  flex: 1 1 250px;
}

.inputContainer label {
  margin-right: 12px;
  flex-shrink: 0;
}

.buttonContainer button {
  position: relative;
  display: block;
  background-color: #258046;
  margin-top: calc((114px - 52px) / 2);
  text-transform: uppercase;
  padding: 10px 41.5px;
  border: none;
  border-radius: 10px;
}

.buttonContainer button:disabled {
  background-color: var(--color-5);
  color: var(--color-6);
  cursor: default;
}

.tooltip {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -40%;
  color: var(--color-6);
}

.errorMessage {
    color: crimson;
    font-size: 0.75rem;
    text-align: center;
}

.labelDisabled {
  color: var(--color-5);
}